<!doctype html>
<html lang="en">
  <head>
    <title>客房信息</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css" >
    <!-- Bootstrap vue -->
    <script src="vue.js"></script>
    <!-- axios -->
    <script src="axios.min.js"></script>

</head>

  <body>

    <table class="table" id="app">
        <thead>
            <tr>
                 <th>房间号</th>
                <th>类型</th>
                 <th>状态</th>
                <th>价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(i, p) in roominfoList"  >
                <td>{{i.roomnumber}}</td> 
                <td>{{i.roomtype}}</td> 
                <td>{{i.status}}</td>
                <td>{{i.price}}</td>
                <td>
                        <div class="row">
                                <div class="">
                                    <button @click="edit(i.roomnumber)" type="button" data-toggle="modal"
                                        data-target="#modelId" class="btn btn-success btn-lg btn-block">
                                        编辑</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modelId" tabindex="-1" role="dialog"
                                        aria-labelledby="modelTitleId" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">编辑客房信息</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- 状态 -->
                                                    <div class="form-group">
                                                        <label for="">状态：</label>
                                                        <input type="text" v-model="roominfoEdit.status"
                                                            class="form-control" placeholder="请管理员输入客房状态：">

                                                   
                                                    </div>
                                            



                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button @click="update" type="button" class="btn btn-primary"
                                                        data-dismiss="modal">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                </td>
            </tr>
        </tbody>
    </table>

    <script> 
    let mv=new Vue({
        el:"#app",
        data:{
            roominfoList: new Array(),
            roominfoEdit: {},
            


        },
        methods:{
            update: function () {
                    axios.put(
                        `/api/v1/roominfo/${this.roominfoEdit.roomnumber}`,
                        this.roominfoEdit
                    )
                        .then(res => {
                            console.log(res);
                            // 加载全部
                            axios.get(`/api/v1/roominfo`)
                                .then(res => {
                                    console.log(res);
                                    this.roominfoList = res.data;
                                })
                                .catch(err => {
                                    console.error(err);
                                })
                        })
                        .catch(err => {
                            console.error(err);
                        });

                },
                edit: function (id) {
                    // GET /api/v1/dept/2
                    axios.get(`/api/v1/roominfo/${id}`)
                        .then(res => {
                            console.log(res);
                            this.roominfoEdit = res.data;
                            console.log(res.data);

                        })
                        .catch(err => {
                            console.log(res.data);
                            console.error(err);
                        })
                },

        },
        computed: {
            
        },
        mounted() {
                // 挂载：回调（钩子）函数，在文档加载完毕后只执行 ** 1 ** 次
                // 可以用于从网络加载初始化数据
                // /api/v1/dept
                axios.get(`/api/v1/roominfo`)
                    .then(res => {
                        // 请求成功
                        // 把从服务器获得响应数据赋给成员变量
                        this.roominfoList =res.data;
                        console.log(this.roominfoList);
                    })
                    .catch(err => {
                        // 请求失败
                        console.error(err);
                    });

            },



    })
    
    
    
    </script>



      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>